[submodule "generic"]
	path = generic
	url = git@gitlab.taliform.com:internal/generic.git
	branch = 13.0-development
[submodule "queue"]
	path = queue
	url = https://github.com/OCA/queue.git
	branch = 13.0
[submodule "web"]
	path = web
	url = https://github.com/OCA/web.git
	branch = 13.0
[submodule "reporting-engine"]
	path = reporting-engine
	url = https://github.com/OCA/reporting-engine.git
	branch = 13.0
